


* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
}

body {
    background-image: url(pacote-d013/imagens/fundo-madeira.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    height: 100vh;
    position: relative;
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* posicionando o section */


    height: 627px;
    width: 311px;
    background-image: url(pacote-d013/imagens/frame-iphone.png);
    background-repeat: no-repeat;
}

section#redes-sociais {
    text-align: right;
}

section#redes-sociais img {
    width: 50px;
    margin: 8px;
    border-radius: 50%; /* deixa a imagem redonda */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
    box-sizing: border-box;
}

section#redes-sociais img:hover {
    border: 2px solid rgba(255, 255, 255, 0.61);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.637);
    transition: transform 0.5s, border 0.5s;
    /* configuração para o botao parecer que esta mexendo e o uso de sombra, e o transition para dar um efeito lento quando passar em cima do botão*/

}

iframe#tela {
    position: relative;
    top: 80px;
    left: 22px;

    width: 269px;
    height: 471px;
    
}